<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
    <link rel="stylesheet" href="/css/personal_details.css">
</head>
<body>
    <div class="container">
        <h1>Personal Details</h1>
        
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <button onclick="personal_details()">Submit</button>


    </div>
    <script src="/js/personal_details.js"></script>
</body>
</html>