@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(137, 168, 178);
}

/*------------ Signup container ------------*/

.box-area {
    width: 930px;
}

/*------------ Left box (Signup Form) ------------*/

.left-box {
    padding: 40px 30px 40px 40px;
}

/*------------ Right box (Image) ------------*/

.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E5E1DA;
}

/*------------ Custom Placeholder ------------*/

::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

/*------------ For small screens ------------*/

@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }
    .right-box {
        height: 100px;
        overflow: hidden;
    }
    .left-box {
        padding: 20px;
    }
}
